<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <!--<system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>-->
  
  <!--https://stackoverflow.com/questions/4410067/iis-url-rewrite-and-web-config-->

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="DynamicRewrite" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}\.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="/{R:1}.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>
